<ion-header color="primary">
  <ion-navbar hideBackButton="true">
    <ion-buttons>
      <button ion-button tappable (click)="back()">{{ 'BACK' | translate }}</button>
    </ion-buttons>
    <ion-title>{{ 'ADD_MEMBERS' | translate }}</ion-title>
    <!-- Disable button if the user has not added any user to be added to the group or if network is offline. -->
    <ion-buttons end *ngIf="users">
      <button ion-button tappable (click)="done()" [disabled]="!network.online() || usersToAdd.length < 1">{{ 'DONE' | translate }}</button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-list *ngIf="user">
    <ion-searchbar [(ngModel)]="searchUser"></ion-searchbar>
    <ion-item tappable (click)="toggle(user.userId)" *ngFor="let user of users | usersFilter: [excludedIds, searchUser]">
      <ion-avatar item-start>
        <div class="avatar" *ngIf="user">
          <span [ngClass]="{'active': user.online}"></span>
          <img-loader src="{{user.profilePic}}"></img-loader>
        </div>
      </ion-avatar>
      <h2><b>{{user.firstName}} {{user.lastName}}</b></h2>
      <h3>@{{user.userName}}</h3>
      <!-- Buttons -->
      <ion-icon name="add-circle" item-end color="primary" *ngIf="usersToAdd.indexOf(user.userId) == -1"></ion-icon>
      <ion-icon name="remove-circle" item-end color="danger" *ngIf="usersToAdd.indexOf(user.userId) > -1"></ion-icon>
    </ion-item>

    <!-- When there are no search results. -->
    <p text-center *ngIf="((users | usersFilter:[excludedIds, searchUser])?.length < 1)">{{ 'NO_USERS_FOUND' | translate }}</p>
  </ion-list>
</ion-content>
